html {
    background-color: rgb(255, 230, 200);
}

#header {
    display : flex;
    justify-content: space-around;
    background-color: beige;
    font-size: 2em;
}

#header > div {
    display: flex;
    width : 11%;
    justify-content: space-between;
    align-items: center;
}

#header > div > img {
    height : 75px;
    width : 75px;
}