{% extends 'base.html.twig' %}

{% block stylesheets %} <link href="{{ asset('css/etablir_contrats.css') }}" type="text/css" rel="stylesheet"> {% endblock %}

{% block body %}

<h1>Etablir les contrats</h1>

<div id="body">

    <div id="container_button" >
        
        <button>Télécharger le contrat</button> 
        <br/>
        <button>Créer le contrat<button> 
        <br/>
        <button>Modifier le contrat</button> 
        <br/>
        <button>Supprimer le contrat</button>

    </div>


    <p> Liste des étudiants  </p>
    <ul>
        {% for i in 1..10 %}
            {% if i == 3 %}
                <li id="selected" >Etudiant {{i}}</li>
            {% else %}
                <li>Etudiant {{i}}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


{% endblock %}