{% extends 'base.html.twig' %}

{% block title %}StageAlter!{% endblock %}

{% block stylesheets %} <style>{% include 'css/home.css' %}</style> {% endblock %}

{% block body %}
    <h1>Bienvenue sur StageAlter</h1>

    <div id="container_button" >
    
    <button>Gérer ses rendez-vous</button> 
    <br/>
    <button>Exportation PStage</button> 
    <br/>
    <button>Etablir contrat</button> 
    <br/>
    <button>Remplir fiche initiale</button> 
    <br/>
    <button>Remplir fiche suivie</button>
    
    </div>


{% endblock %}
