{% extends 'base.html.twig' %}

{% block title %}StageAlter!{% endblock %}

{% block stylesheets %} <link href="{{ asset('css/home.css') }}" type="text/css" rel="stylesheet"> {% endblock %}

{% block body %}

    <h1>Bienvenue sur StageAlter</h1>

    

    <button>Gérer ses rendez-vous</button> 
    <br/>
    <button>Exportation PStage</button> 
    <br/>
    <button>Etablir contrat</button> 
    <br/>
    <button>Remplir fiche initiale</button> 
    <br/>
    <button>Remplir fiche suivie</button>


{% endblock %}
